html,body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    font-size: 18px;
    font-weight: 600;
}

.menu-item {
    color: white;
    padding: 15px;
    display: inline;
    text-decoration: none;
}

.main-content {
    max-width: 700px;
    margin: auto;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.image {
    width: 100%;
}

.button {
    color: black;
    background-color: lightgray;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.end-text {
    color: white;
    margin: 5px;
}

.bottom-footer {
    background-color: rgb(90, 90, 90);
    padding: 20px;
    text-align: center;
}